.container {
  margin-top: 20px;
}

.activities {
  margin-top: 5px;
  border: 2px solid black;
  overflow-y: auto;
  height: 200px;
  padding: 10px;
}

p {
  margin-bottom: 5px;
}

.red {
  color: red;
}

.green {
  color: forestgreen;
}
