<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <title>Survey Form</title>
</head>
<body>
    <div class="container">
        <form action="/result" method="POST" autocomplete="off">
            <div class="row">
                <div class="col-35">
                    <label for="full_name">Your Name:</label>
                </div>
                <div class="col-65">
                    <input type="text" id="full_name" name="full_name">
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="dojo_location">Dojo Location:</label>
                </div>
                <div class="col-65">
                    <select id="dojo_location" name="dojo_location">
                        <option value="Seattle">Seattle</option>
                        <option value="Online">Online</option>
                        <option value="Dallas">Dallas</option>
                        <option value="Mountain View">Mountain View</option>
                        <option value="San Jose">San Jose</option>
                        <option value="TC">TC</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Tulsa">Tulsa</option>
                        <option value="Berkeley">Berkeley</option>
                        <option value="Boise">Boise</option>
                        <option value="OC">OC</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="fav_language">Favorite Language:</label>
                </div>
                <div class="col-65">
                    <select id="fav_language" name="fav_language">
                        <option value="Javascript">Javascript</option>
                        <option value="Python">Python</option>
                        <option value="C#">C#</option>
                        <option value="Node">Node</option>
                        <option value="C++">C++</option>
                        <option value="Java">Java</option>
                        <option value="CSS">CSS</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="comment">Comment (optional):</label>
                </div>
                <div class="col-65">
                    <textarea id="subject" name="comment" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input class="btn" type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>