<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <title>Broadcast Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            $(".message-container").hide();
            var socket = io();
            var visited = false;
            if (visited == false){
                socket.emit("im_new_here");
            }
            socket.on("prompt",function(){
                var person = prompt("Your name:", "");
                if (person == null || person == ""){
                    socket.emit("im_new_here");
                }
                else{
                    var this_user = person;
                    $(".message-container").show();
                    socket.emit("got_a_new_user", this_user, function(data){
                    });
                }
            });
            socket.on("return_user",function(data){
                console.log("Our current user is: " + data.user.name);
                console.log("Our messages so far are: "+data.messages);
            });
            $(".btn").click(function(){
                var message_content = $("#message_content").val();
                console.log("When we clicked, our content was "+message_content);
                if (message_content == undefined || message_content == ""){
                    $(".warning").append("Your message cannot be blank.");
                }
                else {
                    if ($(".warning").text().length != 0){
                        $(".warning").empty();
                    }
                    socket.emit("posting_message", {message: message_content}, function(data){
                        console.log("Our message content was"+message_content);
                    });
                    $("#message_content").val("");
                }
            });
            socket.on("new_message", function(data){
                console.log(data);
                let content = data.message.message;
                let author = data.message.author+":";
                $(".messages").append("<tr>").append("<td>").addClass("author").append(author).append("<td>").addClass("the_message").append(content);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="message-container">
            <h2>Conversation Board</h2>
            <div class="chatroom">
                <table class="messages"></table>
            </div>
                <textarea id="message_content" name="message_content" placeholder="enter your message here"></textarea>
                <button class="btn">Send</button>
                <p class="warning"></p>
        </div>
    </div>
</body>
</html>