<div class="container">
  <h1>Anonymous Notes</h1>
  <app-new-note></app-new-note>
  <div class="notes-list">
    <div class="one-note">
      <p class="timestamp">Noted on: Jun 1, 2018, 6:11:58 am</p>
      <p class="note-content">
        note-list works!
      </p>
    </div>
    <div class="one-note">
      <p class="timestamp">Noted on: Jun 1, 2018, 6:11:58 am</p>
      <p class="note-content">
        note-list works!
      </p>
    </div>
    <div class="one-note">
      <p class="timestamp">Noted on: Jun 1, 2018, 6:11:58 am</p>
      <p class="note-content">
        note-list works!
      </p>
    </div>
    <div class="one-note">
      <p class="timestamp">Noted on: Jun 1, 2018, 6:11:58 am</p>
      <p class="note-content">
        note-list works!
      </p>
    </div>
    <div class="one-note">
      <p class="timestamp">Noted on: Jun 1, 2018, 6:11:58 am</p>
      <p class="note-content">
        note-list works!
      </p>
    </div>
    <div class="one-note">
      <p class="timestamp">Noted on: Jun 1, 2018, 6:11:58 am</p>
      <p class="note-content">
        note-list works!
      </p>
    </div>
  </div>
</div>
