<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>EJS Pets</title>
</head>
<body>
    <h1>EJS pets</h1>
    <div class="container">
        <a href="pets/max/"><img src="images/pet1.png"></a>
        <a href="pets/duke/"><img src="images/pet2.png"></a>
        <a href="pets/mel/"><img src="images/pet3.png"></a>
    </div>
</body>
</html>