<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <title>Add a New Rabbit!!</title>
</head>
<body>
    <div class="container">
        <form action="/rabbits" method="POST" autocomplete="off">
            <fieldset>
                <legend>Our new rabbit:</legend>
                Name:<br>
                <input type="text" name="name">
                <br>
                Breed:<br>
                <select name="breed">
                    <option value="Mini Rex">Mini Rex</option>
                    <option value="English Lop">English Lob</option>
                    <option value="Lionhead Rabbit">Lionhead Rabbit</option>
                    <option value="Dutch Rabbit">Dutch Rabbit</option>
                </select>
                <br>
                Age:<br>
                    <input type="radio" name="age" value="0"> Between 0 - 1 years old<br>
                    <input type="radio" name="age" value="1"> Between 1 - 2 years old<br>
                    <input type="radio" name="age" value="2"> Over 2 years old<br>
                <br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>
</html>