*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 60%;
    margin:20px auto auto auto;
}

h2{
    font-size:1em;
    text-decoration: underline;
    margin-bottom:5px;
}

.chatroom{
    width:100%;
    border: 2px solid black;
    padding:5px;
    height:400px;
}

textarea{
    margin-top:10px;
    width:100%;
    padding:5px;
    border: 2px solid black;
    font-size:1em;
    color:black;
}

.messages{
    border-collapse: separate;
    border-spacing:15px;
}

td{
    padding-right:20px;
}

.btn{
    text-align: center;
    float:right;
    border:2px solid black;
    background-color:lightgrey;
    box-shadow: 5px 5px;
    font-size:1em;
    width: 70px;
    height:35px;
}