.container {
  padding: 20px;
  width: 80%;
  margin: auto;
}

.col-new {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.form-group-new label {
  color: #656668;
}

.form-group-new input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.form-group-new input[type=submit] {
  background-color: skyblue;
  color: white;
  padding: 14px 20px;
  font-size: 1.5em;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group-new input[type=submit]:hover {
  background-color: lightblue;
}

.form-group-new {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* START CSS FOR CAKE LIST  */

.col-list {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: auto;
  height: 320px;
}

.row {
  padding: 0px 5px 5px 5px;
  margin-bottom: 20px;
}

.img-block {
  text-align: center;
}

img {
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.list-form-group select {
  width: 100%;
  height: 35px;
  font-size: 1em;
  margin-bottom: 5px;
}

.list-form-group textarea {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.list-form-group input[type=submit] {
  font-size: 1em;
  background-image: linear-gradient(lightgrey, #3e4042);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  width: 75px;
}
