<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="maintitle">Restful Tasks CRUD!!!</h1>
  <div class="col">

    <h1>New Task</h1>
    <form (submit)="onSubmit($event, taskForm)" #taskForm="ngForm" autocomplete="off">
      <div class="row">
        <div class="col-25 grey-highlight">
          <label>Title of Task</label>
        </div>
        <div class="col-75">
          <input type="text" name="title" [(ngModel)]="task.title" />
        </div>
      </div>
      <div class="row">
        <div class="col-25 grey-highlight">
          <label>Task Description</label>
        </div>
        <div class="col-75">
          <input type="text" name="description" [(ngModel)]="task.description" />
        </div>
      </div>
      <div class="row">
        <button class="mainbtn">Create</button>
      </div>
    </form>

    <h1>Task List</h1>
    <div *ngFor="let task of tasks" class="task-list-component">
      <div class="view-task">
        <h1>{{task.title}}</h1>
        <p>{{task.description}}</p>
      </div>
      <div class="task-buttons">
        <button (click)="showEditField(task)" class="mainbtn">Edit</button>
        <button (click)="onDelete(task._id)" class="deletebtn">Delete</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div *ngIf="selectedTask">
      <form (submit)="onUpdate()">
        <h1>Edit a Task</h1>
        <div class="row">
          <div class="col-25 grey-highlight">
            <label>Title of Task</label>
          </div>
          <div class="col-75">
            <input type="text" name="title" [(ngModel)]="selectedTask.title" value="{{selectedTask.title}}" />
          </div>
        </div>
        <div class=" row">
          <div class="col-25 grey-highlight">
            <label>Task Description</label>
          </div>
          <div class="col-75">
            <input type="text" name="description" [(ngModel)]="selectedTask.description"
              value="{{selectedTask.description}}" />
          </div>
        </div>
        <div class=" row">
          <button class="mainbtn">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
