<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="maintitle">Restful Tasks CRUD!!!</h1>
  <div class="col">

    <h1>New Task</h1>
    <form autocomplete="off">
      <div class="row">
        <div class="col-25 grey-highlight">
          <label>Title of Task</label>
        </div>
        <div class="col-75">
          <input type="text" name="title" />
        </div>
      </div>
      <div class="row">
        <div class="col-25 grey-highlight">
          <label>Task Description</label>
        </div>
        <div class="col-75">
          <input type="text" name="description" />
        </div>
      </div>
      <div class="row">
        <button class="mainbtn">Create</button>
      </div>
    </form>

    <h1>Task List</h1>
    <div class="task-list-component">
      <div class="view-task">
        <h1>Task Title</h1>
        <p>Task Details</p>
      </div>
      <div class="task-buttons">
        <button class="mainbtn">Edit</button>
        <button class="deletebtn">Delete</button>
      </div>
    </div>
    <div class="task-list-component">
      <div class="view-task">
        <h1>Task Title</h1>
        <p>Task Details</p>
      </div>
      <div class="task-buttons">
        <button class="mainbtn">Edit</button>
        <button class="deletebtn">Delete</button>
      </div>
    </div>

    <!-- REAPEAT THESE TASK COMPONENTS PER EACH TASK -->

    <!-- REAPEAT THESE TASK COMPONENTS PER EACH TASK -->

  </div>

  <div class="col">
    <h1>Edit a Task</h1>
    <div class="row">
      <div class="col-25 grey-highlight">
        <label>Title of Task</label>
      </div>
      <div class="col-75">
        <input type="text" name="title" />
      </div>
    </div>
    <div class="row">
      <div class="col-25 grey-highlight">
        <label>Task Description</label>
      </div>
      <div class="col-75">
        <input type="text" name="description" />
      </div>
    </div>
    <div class="row">
      <button class="mainbtn">Edit</button>
    </div>
  </div>
</div>
