<div class="container">
  <h1>Baked by Eli Byers</h1>
  <div class="row">
    <div class="col-50 img-block">
      <img src="https://i.ytimg.com/vi/ZBkQtHzInCo/maxresdefault.jpg">
    </div>
    <div class="col-50 comment-side">
      <p>Average rating: 3.5 stars</p>
      <div class="comment-block">
        <p><span>"</span>Looks too dusy.<span>"</span></p>
        <p>3 stars.</p>
      </div>
      <div class="comment-block">
        <p><span>"</span>Looks too dusy.<span>"</span></p>
        <p>3 stars.</p>
      </div>
    </div>
  </div>
</div>
