*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin:5px;
    padding:5px;
    border:1px solid black;
    text-align:center;
    height:300px;
}

.center-group{
    margin-top:70px;
}

input, button{
    margin: 10px 5px 0px 5px;
    padding:2px;
    height:30px;
    font-size:1em;
}