<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
    <title>Cats</title>
</head>
<body>
    <h1>There are my pets</h1>
   <img src="images/pet1.png">
   <img src="images/pet2.png">
   <img src="images/pet3.png">
   <img src="images/pet4.png">
   <img src="images/pet5.png">
   <img src="images/pet6.png">
   <img src="images/pet7.png">
</body>
</html>